<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>用户登录</title>
  <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
<div class="login" id="login">
  <h2>用户登录</h2>
  <div class="login_box">
    <!-- required就是不能为空 必须在css效果中有很大的作用 -->

    <input type="text" v-model="username" name='name' id='name' required />
    <label for="name" >用户名</label>
  </div>
  <div class="login_box">

    <input type="password" v-model="password" name='pwd' id='pwd' required="required">
    <label for="pwd">密码</label>
  </div>
  <a  @click="login">
    登录
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>

</div>
<!-- 引入Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script type="text/javascript" src="commen/commen.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>